@media (min-width: 768px) {
    .card {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media (max-width: 1050px) {
    .card {
        flex: 0 0 27%;
        max-width: 27%;
    }

    .card__info__image {
        height: 100px !important;
    }
}

@media (max-width: 750px) {
    .card {
        flex: 0 0 100%;
        max-width: 100% !important;
    }
}

.card {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.card__info {
    box-shadow: 0 .135rem .35rem rgba(0, 0, 0, .075) !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
}

.card__infoImage {
    width: auto;
    height: 200px;
    margin: auto;
    margin-top: 0.5rem !important;
    border-radius: 5px;
}

@media (max-width: 1350px) {
    .card__infoImage {
        height: 150px;
    }

    .card__infoDetailsHeading {
        font-size: 2rem !important;
    }

    .card__infoDetailsText {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 1050px) {
    .card__infoDetailsHeading {
        font-size: 1.5rem !important;
    }

    .card__infoDetailsText {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 850px) {

    .card__infoDetails {
        padding: 0.5rem !important;
    }
}

@media (max-width: 750px) {

    .card__infoImage {
        height: 160px !important;
    }
}

.card__infoDetails {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card__infoDetailsText {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.card__infoDetailsHeading {
    color: #ff5d62;
    font-size: 2rem;
    margin-bottom: 10px;
}